<ng-container *ngIf="edit">
    <app-ng-cropper class="cropper" (exit)="toggleEdit()" (cropped)="cropped = $event" [slider]="false"></app-ng-cropper>
</ng-container>

<ng-container *ngIf="!edit">
    <div class="avatar">
        <span class="material-icons" (click)="toggleEdit()">edit</span>
        <img *ngIf="!cropped" alt="" src="https://forums.bluebelton.com/styles/canvas/theme/images/no_avatar.jpg">
        <img *ngIf="cropped" alt="" [src]="cropped.toDataURL()">
    </div>
</ng-container>
